/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --header-bg-img: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #db00ff;
  --text-color: #000028;
  --btn-color: #ff0070;
  --description-color: #f1b2ce;
  --hover-color: rgba(255, 0, 112, 0.4);
}

:root.theme-dark .rec {
  display: flex;
}