/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --header-bg-img: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --main-font: "IBM Plex mono", sans-serif;
  --btn-color: #353430;
  --description-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
}

:root.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --accent-color: #ff8dcb;
    --header-bg-img: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --btn-color: #353430;
    --description-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
    
  }

  .rec {
    display: none;
  }
}