/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background_color: #fff1f7;
  --background_image: url(../images/cover-image-light.png);
  --basic_color: #353430;
  --nav_color: #353430;
  --rec_color: transparent;
  --accent_title_color: #ff0070;
  --accent_color: #ff8dcb;
  --title_font_color: #ffc2e6;
  --chapter_title_color: #353430;
  --text_font_color: #353430;
  --btn_border_color_40: hsla(48, 5%, 20%, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --background_color: #fff1f7;
    --background_image: url(../images/cover-image-light.png);
    --basic_color: #353430;
    --nav_color: #353430;
    --rec_color: transparent;
    --accent_title_color: #ff0070;
    --accent_color: #ff8dcb;
    --title_font_color: #ffc2e6;
    --chapter_title_color: #353430;
    --text_font_color: #353430;
    --btn_border_color_40: hsla(48, 5%, 20%, 0.4);
  }
}
